@font-face {
    font-family: 'Mulish';
    src: url(../fonts/Mulish-ExtraLight.woff);
    font-weight: 100;
}

@font-face {
    font-family: 'Mulish';
    src: url(../fonts/Mulish-Light.woff);
    font-weight: 300;
}

@font-face {
    font-family: 'Mulish';
    src: url(../fonts/Mulish-Medium.woff);
    font-weight: 400;
}

@font-face {
    font-family: 'Mulish';
    src: url(../fonts/Mulish-SemiBold.woff);
    font-weight: 600;
}

@font-face {
    font-family: 'Mulish';
    src: url(../fonts/Mulish-ExtraBold.woff);
    font-weight: 800;
}

@font-face {
    font-family: 'Mulish';
    src: url(../fonts/Mulish-Italic.woff);
    font-style: italic;
}