@import './fonts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish';
    font-weight: 300;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 8px 17px;
    text-decoration: none;
    color: white;
    background: #52AADB;
    border-radius: 8px;
}

.intro-title {
    width: 100%;
    text-align: center;
    padding: 85px 0;

    h2 {
        font-size: 48px;
        font-weight: 600;
        line-height: 72px;
        color: #000000;
    }
}

.introduction {
    max-width: 100%;
    height: 100vh;
    background: url(../images/bg_intro.png) no-repeat;
    background-size: cover;

    .header {
        padding: 10px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .header_linkers {
            display: flex;
            align-items: center;
            list-style: none;

            .header_linker {
                a {
                    text-decoration: none;
                    color: white;
                    padding: 10px 15px;
                }
            }
        }
    }

    .main-part {
        width: 100%;
        height: calc(100vh - 105px);
        display: flex;
        align-items: center;
        position: relative;

        .box {
            width: 50%;
            color: #FFFFFF;

            h1 {
                font-style: normal;
                font-weight: normal;
                font-size: 48px;
                font-weight: 600;
                margin-bottom: 20px;
            }

            p {
                font-size: 14px;
                line-height: 21px;
                margin: 10px 0;
            }
        }

        .down-arrow {
            position: absolute;
            left: 50%;
            bottom: 0;
        }
    }
}

.about {
    max-width: 100%;
    background: url(../images/bg_part-2.png) no-repeat;
    background-size: cover;

    .card-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .card {
            width: 500px;
            max-height: 650px;
            text-align: center;
            transition: all ease 0.5s;
            padding: 40px 60px;
            background: #FFFFFF;
            box-sizing: border-box;
            box-shadow: -10px -10px 20px #FFFFFF, 10px 10px 20px #C5C5C5;
            border-radius: 15px;
            margin: 30px 0;

            &:hover {
                background: #EAEAEA;
                border-radius: 15px;
                box-shadow: 0 0 0 0;
            }

            img {
                width: 297px;
                height: 297px;
            }

            h3 {
                margin: 40px 0 20px;
                font-weight: 600;
                font-size: 48px;
            }

            p {
                font-size: 14px;
                line-height: 21px;
            }
        }
    }

    .teachers-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .card {
            max-width: 230px;
            text-align: center;

            h3 {
                margin: 15px 0 10px;
                font-size: 24px;
                font-weight: 300;
            }

            p {
                font-size: 14px;
                line-height: 21px;
            }
        }
    }

    .intro-title-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0;

        h2 {
            font-weight: 300;
            text-align: center;
            font-size: 48px;
            line-height: 72px;
        }

        .contact-us {
            font-size: 48px;
            color: #FFB800;
            text-decoration: none;
            margin-top: 50px;
            padding: 15px 46px 15px 97px;
            display: inline-block;
            background: #F1F1F1;
            transition:  all ease 0.5s;
            box-shadow: -6px -6px 10px #FFFFFF, 6px 6px 10px #CACACA;
            border-radius: 15px;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                background: url(../images/icons/phone.svg) no-repeat;
                width: 40px;
                height: 40px;
                top: 0;
                bottom: 0;
                margin: auto 0;
                left: 32px;
            }
            &:hover{
                box-shadow: 0 0 0 0;
            }
        }
    }
}